<main>
    <div class="container-fluid px-4">
        <h5 class="mt-4">Харилцагч шинээр бүртгүүлэх хүсэлтийн жагсаалт</h5>
        
        <ol class="breadcrumb mb-4">
        </ol>
        <a href="{% url 'company' %}" class="btn btn-primary" role="button">Харилцагч шинээр бүртгүүлэх</a>
        <div class="card mb-4">
            <div class="card-header">
                <i class="fas fa-table me-1"></i>
                Жагсаалт
            </div>
            <div class="card-body">
                {% include "tableTop.html" %}
                <table id="datatablesSimple" class="dataTable-table">
                  <thead>
                      <tr>
                          <th data-sortable="" class="asc">
                              <a href="#" class="dataTable-sorter">Нэр</a>
                          </th>
                          <th data-sortable="" class="asc">
                              <a href="#" class="dataTable-sorter">хаяг</a>
                          </th>
                          <th data-sortable="" class="asc">
                              <a href="#" class="dataTable-sorter">утас</a>
                          </th>
                          
                      </tr>
                  </thead>
                  {% for h in companyList %}
                      <tr>
                          <td>{{ h.comName }}</td>
                          <td>{{ h.hayag }}</td>
                          <td>{{ h.phone }}</td>
                          <td><a href="/change-state/{{h.id}}/2">Батлах</a></td>
                          <td><a href="/change-state/{{h.id}}/3">Цуцлах</a></td>

                          <td><a href="/company-update/{{h.id}}">Засах</a></td>
                          <td><a href="/company-update/{{h.id}}">Устгах</a></td>
                      </tr>        
                  {% endfor %}
                  </table>
            </div>
            {% include "tableBottom.html" %}
        </div>
    </div>
</main>