<main>
    <div class="container-fluid px-4">
        <h5 class="mt-4">Харилцагч шинээр бүртгүүлэх хүсэлтийн жагсаалт</h5>
        <ol class="breadcrumb mb-4">
        </ol>
        <a href="{% url 'company' %}" class="btn btn-primary" role="button">Харилцагч шинээр бүртгүүлэх</a>
        <div class="card mb-4">
            <div class="card-header">
                <i class="fas fa-table me-1"></i>
                Жагсаалт
            </div>
            <div class="card-body">
                <div class="dataTable-top">
                    <div class="dataTable-dropdown">
                        <label>
                            <select class="dataTable-selector">
                                <option value="2">2</option>
                                <option value="10" selected="">10</option>
                                <option value="15">15</option>
                                <option value="20">20</option>
                                <option value="25">25</option>
                            </select>
                        </label>
                    </div>
                    <div class="dataTable-search">
                        <input class="dataTable-input" placeholder="Хайх..." type="text">
                    </div>
                </div>
                <table id="datatablesSimple" class="dataTable-table">
                  <thead>
                      <tr>
                          <th data-sortable="" class="asc">
                              <a href="#" class="dataTable-sorter">Нэр</a>
                          </th>
                          <th data-sortable="" class="asc">
                              <a href="#" class="dataTable-sorter">хаяг</a>
                          </th>
                          <th data-sortable="" class="asc">
                              <a href="#" class="dataTable-sorter">утас</a>
                          </th>
                          
                      </tr>
                  </thead>
                  {% for h in companyList %}
                      <tr>
                          <td>{{ h.comName }}</td>
                          <td>{{ h.hayag }}</td>
                          <td>{{ h.phone }}</td>
                          <td><a href="/change-state/{{h.id}}/2">Батлах</a></td>
                          <td><a href="/change-state/{{h.id}}/3">Цуцлах</a></td>

                          <td><a href="/company-update/{{h.id}}">Засах</a></td>
                          <td><a href="/company-update/{{h.id}}">Устгах</a></td>
                      </tr>        
                  {% endfor %}
                  </table>
            </div>
            <div class="dataTable-bottom">
                <div class="dataTable-info">Showing 51 to 57 of 57 entries</div>
                <nav class="dataTable-pagination">
                    <ul class="dataTable-pagination-list">
                        <li class="pager"><a href="#" data-page="5">‹</a></li>
                        <li class=""><a href="#" data-page="1">1</a></li>
                        <li class=""><a href="#" data-page="2">2</a></li>
                        <li class=""><a href="#" data-page="3">3</a></li>
                        <li class=""><a href="#" data-page="4">4</a></li>
                        <li class=""><a href="#" data-page="5">5</a></li>
                        <li class="active"><a href="#" data-page="6">6</a></li>
                        <li class="pager"><a href="#" data-page="6">›</a></li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>
</main>