<div id="layoutSidenav_nav">
    <nav class="sb-sidenav accordion sb-sidenav-dark" id="sidenavAccordion">
        <div class="sb-sidenav-menu">
            {% if user.role_id == 4 %}
            <a class="nav-link collapsed" href="#" data-bs-toggle="collapse" data-bs-target="#collapseLayouts" aria-expanded="false" aria-controls="collapseLayouts">
                <!-- <div class="sb-nav-link-icon"><i class="fas fa-share-square"></i></div> -->
              <a class="nav-link" href="sum-request"><i class="far fa-file-alt"></i> Шинэ хүсэлтүүд</a>
            </a>
            {% endif %}
            {% if user.role_id == 3 %}
            <a class="nav-link collapsed" href="#" data-bs-toggle="collapse" data-bs-target="#collapseLayouts" aria-expanded="false" aria-controls="collapseLayouts">
                <!-- <div class="sb-nav-link-icon"><i class="fas fa-share-square"></i></div> -->
              <a class="nav-link" href="reqCom-list"><i class="far fa-file-alt"></i> Шинэ хүсэлтүүд</a>
            </a>
            {% endif %}
            {% if user.role_id <= 4 %}
            <div class="nav">
                <!-- <div class="sb-sidenav-menu-heading">Core</div>
                <a class="nav-link" href="index.html">
                    <div class="sb-nav-link-icon"><i class="fas fa-tachometer-alt"></i></div>
                    Dashboard
                </a> -->
                <!-- <div class="sb-sidenav-menu-heading">Цэс</div> -->
                {% if user.role_id < 3 %}
                <a class="nav-link collapsed" href="#" data-bs-toggle="collapse" data-bs-target="#collapseLayouts" aria-expanded="false" aria-controls="collapseLayouts">
                    <div class="sb-nav-link-icon"><i class="fas fa-share-square"></i></div>
                    Хүсэлт илгээх 
                    <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                </a>
                <div class="collapse" id="collapseLayouts" aria-labelledby="headingOne" data-bs-parent="#sidenavAccordion">
                    <nav class="sb-sidenav-menu-nested nav">
                        {% if user.role_id == 1 %} <a class="nav-link" href="product">Бараа бүртгүүлэх хүсэлт илгээх</a> {% endif %}
                        {% if user.role_id == 2 %} <a class="nav-link" href="/company123">Харилцагч бүртгүүлэх хүсэлт илгээх</a> {% endif %}
                    </nav>
                </div>
               {% endif %}
                <a class="nav-link collapsed" href="#" data-bs-toggle="collapse" data-bs-target="#collapsePages" aria-expanded="false" aria-controls="collapsePages">
                    <div class="sb-nav-link-icon"><i class="fas fa-list-ul"></i></div>
                    Хүсэлтийн жагсаалт
                    <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                </a>
                <div class="collapse" id="collapsePages" aria-labelledby="headingTwo" data-bs-parent="#sidenavAccordion">
                    
                    <nav class="sb-sidenav-menu-nested nav accordion" id="sidenavAccordionPages">
                        {% if user.role_id == 1 %}
                        <a class="nav-link " href="/product-list" >
                            Бараа бүртгүүлэх хүсэлтийн жагсаалт                             
                            <div class="sb-sidenav-collapse-arrow"></div>          
                        </a>
                        {% endif %}
                        {% if user.role_id == 2 %}
                        <a class="nav-link " href="{% url 'company-list' %}">
                            Харилцагч бүртгүүлэх хүсэлтийн жагсаалт
                            <div class="sb-sidenav-collapse-arrow"></div>
                        </a>
                        {% endif %}
                        {% if user.role_id >= 3 %}
                        <a class="nav-link " href="{% url 'company-list' %}">
                            Харилцагч бүртгүүлэх хүсэлтийн жагсаалт
                            <div class="sb-sidenav-collapse-arrow"></div>
                        </a>
                        <a class="nav-link " href="/product-list" >
                            Бараа бүртгүүлэх хүсэлтийн жагсаалт                             
                            <div class="sb-sidenav-collapse-arrow"></div>          
                        </a>
                        {% endif %}
                    </nav>           
                                       
                </div>
                
            </div>
            {% endif %}
        </div>

    </nav>
</div>