{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <link href="{% static 'css/styles.css' %}" rel="stylesheet"/>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.min.js" integrity="sha384-Atwg2Pkwv9vp0ygtn1JAojH0nYbwNJLPhwyoVbhoPwBhjQPR5VtM2+xf0Uwh9KtT" crossorigin="anonymous"></script>   

<!-- 
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script> -->


    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/js/all.min.js" crossorigin="anonymous"></script>
<!-- <style>
  body{padding-top:20px;}
</style> -->
    <title>Нэвтрэх  </title>
</head>
<body class="bg-secondary">
      <!-- <div class="alert alert-danger" role="alert">
        {{errmsg}}
      </div> -->
  <!-- <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">{{errmsg}}</span>
  </button> -->
     
     <!-- <form action='login' method='POST'>
        {% csrf_token %}
        <input type='email' name='mail' />
        <input type='password' name='password' />
        <input type='submit' value='Нэвтрэх'/>
     </form> -->

     <div id="layoutAuthentication">
      <div id="layoutAuthentication_content">
          <main>
              <div class="container">
                  <div class="row justify-content-center">
                      <div class="col-lg-5">
                        <div class="card shadow-lg mt-5 bg-light rounded-lg">
                          <!-- <div class="card shadow-lg border-0 rounded-lg mt-5"> -->
                              <div class="card-header" ><h5 class="text-center font-weight-light my-4 text-primary">~НЭВТРЭХ~</h5></div>
                              <div class="card-body">
                                  <form  role="form" action='login' method='POST' autocomplete="off">
                                    {% csrf_token %}
                                      <div class="form-floating mb-3">
                                          <input class="form-control" id="inputEmail" type="email" name= "mail" placeholder="name@example.com" />
                                          <label for="inputEmail" class="text-muted" >И-мейл хаяг:</label>
                                      </div>
                                      <div class="form-floating mb-3">
                                          <input class="form-control" id="inputPassword" type="password" placeholder="Password"  name="password" />
                                          <label for="inputPassword" class="text-muted" >Нууц үг:</label>
                                      </div>
                                      <div class="form-check mb-3">
                                          <input class="form-check-input" id="inputRememberPassword" type="checkbox" value="" />
                                          <label class="form-check-label" for="inputRememberPassword">Сануулах</label>
                                      </div>
                                      <div class="d-flex align-items-center justify-content-between mt-4 mb-0">
                                          <!-- <a class="small" href="password.html">Нууц үгээ мартсан?</a> -->
                                          <input class="btn btn-md btn-primary btn-block" type="submit" onclick="checkErr()"  value='Нэвтрэх'></input>
                                          <div class="d-grid"><a class="btn btn-primary btn-block" href="register">Бүртгүүлэх</a></div>
                                          <script>
                                            function checkErr(){
                                              let errmsg = document.getElementById('errmsg')
                                              errmsg.style.display = "none"
                                              console.log('aa')
                                            }
                                            
                                          </script>
                                      </div>
                                  </form>
                              </div>
                              
                          </div>
                            {% if errmsg %}
                                <div id ="errmsg" class="alert alert-danger" role="alert">
                                  {{errmsg}}
                                </div>
                            {% endif %}
                            
                      </div>
                  </div>
                  
              </div>
          </main>
      </div>
  </div>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js" crossorigin="anonymous"></script>
  <script src="js/scripts.js"></script>











     <!-- <div class="container">
      <div class="row">
        <div class="col-md-4 col-md-offset-4">
          <div class="panel panel-default">
            <div class="panel-heading">
              <h3 class="panel-title">Please sign in</h3></div>
                <div class="panel-body">ss="card-footer text-center py-3">
                                  <div class="small"><a href="register.html">Need an account? Sign up!</a></div>
                              </div>
                  <form accept-charset="UTF-8" role="form" action="login"  method='POST'>
                    {% csrf_token %}
                    <fieldset>
                      <div class="form-group">
                        <input class="form-control" placeholder="E-mail" name="mail" type="email">
                        </div>
                        <div class="form-group">
                        <input class="form-control" placeholder="Password" name="password" type="password" value="">
                        </div>
                        <div class="checkbox">
                          <label>
                            <input name="remember" type="checkbox" value="Remember Me"> Remember Me
                          </label>
                        </div>
                      <input class="btn btn-lg btn-success btn-block" type="submit" value="Login">
                    </fieldset>
                  </form>
                </div>
            </div>
          </div>
        </div>
      </div> -->



    
     <!-- <div id="login">
        <h3 class="text-center text-white pt-5">Login form</h3>
        <div class="container">
            <div id="login-row" class="row justify-content-center align-items-center">
                <div id="login-column" class="col-md-6">
                    <div id="login-box" class="col-md-12">
                        <form id="login-form" class="form" action="login" method="post">
                            {% csrf_token %}
                            <h3 class="text-center text-info">Login</h3>
                            <div class="form-group">
                                <label for="mail" class="text-info">И-майл:</label><br>
                                <input type="text" name="mail" id="username" class="form-control">
                            </div>
                            <div class="form-group">
                                <label for="password" class="text-info">Нууц үг:</label><br>
                                <input type="text" name="password" id="password" class="form-control">
                            </div>
                            <div class="form-group">
                                <label for="remember-me" class="text-info"><span>Сануулах</span> <span><input id="remember-me" name="remember-me" type="checkbox"></span></label><br>
                                <input type="submit" name="submit" class="btn btn-info btn-md" value="submit">
                            </div>
                            <div id="register-link" class="text-right">
                                <a href="#" class="text-info">Register here</a>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div> -->




      <!-- <form class="form-horizontal" action="login" method='POST'>
        {% csrf_token %}
        <div class="col-md-6 offset-md-3" >
          <label class="control-label col-sm-3" for="email">И-майл:</label>
          <div class="col-sm-9">
            <input type="email" class="form-control" id="email" placeholder="И-майлээ оруулана уу?" name='mail' required>
            <div class="valid-feedback">Valid.</div>
            <div class="invalid-feedback">Please fill out this field.</div>
          </div>
        </div>
        <div class="col-md-6 offset-md-3">
          <label class="control-label col-sm-3" for="pwd">Нууц үг:</label>
          <div class="col-sm-9">
            <input type="password" class="form-control" id="pwd" placeholder="Нууц үгээ оруулана уу?" name='password' required>
          </div>
        </div>
        <div class="col-md-6 offset-md-3">
          <div class="col-sm-offset-2 col-sm-10">
            <div class="checkbox">
              <label><input type="checkbox">Сануулах</label>
            </div>
          </div>
        </div>
        <div class="col-md-6 offset-md-3">
          <div class="col-sm-offset-2 col-sm-10">
            <button type="submit" class="btn btn-primary">Нэвтрэх</button>
          </div>
        </div>
      </form>  -->
</body>
</html>
