<main>
    <div class="container-fluid px-4"> 
        <h5 class="mt-4">Бараа шинээр бүртгүүлэх хүсэлтийн жагсаалт</h5>        
        <ol class="breadcrumb mb-4">
        </ol>  
        {% if user.role_id == 1 %}      
        <a href="{% url 'product' %}" class="btn btn-primary" role="button">Бараа шинээр бүртгүүлэх</a>
        {% endif %}
        <div class="card mb-4">
            <!-- <div class="card-header">
                <i class="fas fa-table me-1"></i>
                Жагсаалт
            </div> -->
            <div class="card-body">
                {% include "tableTop.html" %}
                    <table id="datatablesSimple" class="dataTable-table">
                        <thead>
                            <tr>
                                <th data-sortable="" class="asc">
                                    <a href="#" class="dataTable-sorter">Нэр</a>
                                </th>
                                <th data-sortable="" class="asc">
                                    <a href="#" class="dataTable-sorter">Төрөл</a>
                                </th>
                                <th data-sortable="" class="asc">
                                    <a href="#" class="dataTable-sorter">Ер.нэршил</a>
                                </th>
                                <th data-sortable="" class="asc">
                                    <a href="#" class="dataTable-sorter">Эм.хэлбэр</a>
                                </th>
                                <th data-sortable="" class="asc">
                                    <a href="#" class="dataTable-sorter">Нийлүүлэгч</a>
                                </th>
                                <th data-sortable="" class="asc">
                                    <a href="#" class="dataTable-sorter">Барааны ангилал</a>
                                </th>
                                <!-- <th data-sortable="" class="asc">
                                    <a href="#" class="dataTable-sorter">Борлуулж болох эсэх</a>
                                </th>
                                <th data-sortable="" class="asc">
                                    <a href="#" class="dataTable-sorter">Худалдаж болох эсэх</a>
                                </th> -->
                                <th data-sortable="" class="asc">
                                    <a href="#" class="dataTable-sorter">Зарлагдаж болох эсэх</a>
                                </th>
                                <th data-sortable="" class="asc">
                                    <a href="#" class="dataTable-sorter">Посоор зарж болох эсэх</a>
                                </th>
                                <!-- <th data-sortable="" class="asc">
                                    <a href="#" class="dataTable-sorter">Посын ангилал</a>
                                </th> -->
                                <th data-sortable="" class="asc">
                                    <a href="#" class="dataTable-sorter">Зураг:</a>
                                </th>
                                <th data-sortable="" class="asc">
                                    <a href="#" class="dataTable-sorter">Төлөв</a>
                                </th>
                                {% if user.role < 4 %}
                                <th data-sortable="" class="asc">
                                    <a href="#" class="dataTable-sorter">Үйлдлүүд</a>
                                </th>
                                {% endif  %}
                                <!-- <th data-sortable="" class="asc">
                                    <a href="#" class="dataTable-sorter"></a>
                                </th>
                                <th data-sortable="" class="asc">
                                    <a href="#" class="dataTable-sorter"></a>
                                </th> -->
                            </tr>
                        </thead>
                        {% for h in productList %}
                            <tr>
                                <td>{{ h.prodName }}</td>
                                <!-- <td>{{ h.zCode }}</td> -->
                                <td>{{ h.prodType }}</td>
                                <!-- <td>{{ h.zzCode }}</td> -->
                                <!-- <td>{{ h.price }}</td> -->
                                <!-- <td>{{ h.hemNegj }}</td> -->
                                <!-- <td>{{ h.hudNegj }}</td> -->
                                <!-- <td>{{ h.company }}</td> -->
                                <td>{{ h.erNershil }}</td>
                                <td>{{ h.emHelber }}</td>
                                <!-- <td>{{ h.paiz }}</td> -->
                                <!-- <td>{{ h.uildwerlegch }}</td> -->
                                <td>{{ h.uNiiluulegch }}</td>
                                <td>{{ h.category }}</td>
                                <!-- <td>{{ h.borBoloh }}</td> -->
                                <!-- <td>{{ h.hudAwch }}</td> -->
                                <td>{{ h.zarBoloh }}</td>
                                <td>{{ h.pos }}</td>
                                <!-- <td>{{ h.posCat }}</td> -->
                                <td>{{ h.thumbimage }}</td>
                                <td>{{ h.state }}</td>
                                <td>
                                {% if user.role < 4 and h.state_id < 3 %}    
                                    <a href="/product?edit={{h.id}}"><i class="fas fa-edit"></i></a></form>
                                    <a href="/product?del={{h.id}}"><i class="fas fa-trash-alt"></i></a></form>
                                {% endif  %}
                                  <!-- {% if user.role_id == 3 and h.state_id == 1 %}  
                                  <a href="/change-stateProd/{{h.id}}/1"><i class="fas fa-paper-plane"></i></a>
                                  <a href="/change-stateProd/{{h.id}}/2"><i class="fas fa-window-close"></i></a>
                                  <a href="/change-stateProd/{{h.id}}/3"><i class="fas fa-check-square"></i></a>
                                  {% endif %} -->

                                </td>
                            </tr>            
                    {% endfor %}    
                    </table>
                <!-- <div>
                    {% if user.role_id == 1 %}
                        <a href="{% url 'product' %}">prod burtguuleh</a>
                        <input class="btn btn-lg btn-secondary btn-block" type="submit"  value='Нэвтрэх'></input>
                    {% elif user.role_id == 2 %}
                        <a href="{% url 'reg-user' %}">cus burtguuleh</a>
                    {% endif %}
                </div> -->
                
            </div>
            {% include "tableBottom.html" %}
        </div>
    </div>
</main>