<main>
    <div class="container-fluid px-4"> 
        <h5 class="mt-4">Бараа шинээр бүртгүүлэх</h5>                             
        <!-- {% if user.role_id == 1 %}
            <h5 class="mt-4">Бараа шинээр бүртгүүлэх</h5>
        {% elif user.role_id == 2 %}
            <h5 class="mt-4">Харилцагч шинээр бүртгүүлэх</h5>
        {% endif %} -->
        <ol class="breadcrumb mb-4">
        </ol>        
        <a href="{% url 'product' %}" class="btn btn-primary" role="button">Бараа шинээр бүртгүүлэх</a>
        <div class="card mb-4">
            <!-- <div class="card-header">
                <i class="fas fa-table me-1"></i>
                Жагсаалт
            </div> -->
            <div class="card-body">
                {% include "tableTop.html" %}
                    <table id="datatablesSimple" class="dataTable-table">
                        <thead>
                            <tr>
                                <th data-sortable="" class="asc">
                                    <a href="#" class="dataTable-sorter">Нэр</a>
                                </th>
                                <th data-sortable="" class="asc">
                                    <a href="#" class="dataTable-sorter">төрөл</a>
                                </th>
                                <th data-sortable="" class="asc">
                                    <a href="#" class="dataTable-sorter">Е.нэршил</a>
                                </th>
                                <th data-sortable="" class="asc">
                                    <a href="#" class="dataTable-sorter">э.хэлбэр</a>
                                </th>
                                <th data-sortable="" class="asc">
                                    <a href="#" class="dataTable-sorter"></a>Нийлүүлэгч</a>
                                </th>
                                <th data-sortable="" class="asc">
                                    <a href="#" class="dataTable-sorter">ангилал</a>
                                </th>
                                <th data-sortable="" class="asc">
                                    <a href="#" class="dataTable-sorter">зарж болох</a>
                                </th>
                                <th data-sortable="" class="asc">
                                    <a href="#" class="dataTable-sorter">төлөв</a>
                                </th>
                                <th data-sortable="" class="asc">
                                    <a href="#" class="dataTable-sorter"></a>
                                </th>
                                <th data-sortable="" class="asc">
                                    <a href="#" class="dataTable-sorter"></a>
                                </th>
                                <th data-sortable="" class="asc">
                                    <a href="#" class="dataTable-sorter"></a>
                                </th>
                            </tr>
                        </thead>
                        {% for h in productList %}
                            <tr>
                                <td>{{ h.prodName }}</td>
                                <!-- <td>{{ h.zCode }}</td> -->
                                <td>{{ h.prodType }}</td>
                                <!-- <td>{{ h.zzCode }}</td> -->
                                <!-- <td>{{ h.price }}</td> -->
                                <!-- <td>{{ h.hemNegj }}</td> -->
                                <!-- <td>{{ h.hudNegj }}</td> -->
                                <!-- <td>{{ h.company }}</td> -->
                                <td>{{ h.erNershil }}</td>
                                <td>{{ h.emHelber }}</td>
                                <!-- <td>{{ h.paiz }}</td> -->
                                <!-- <td>{{ h.uildwerlegch }}</td> -->
                                <td>{{ h.uNiiluulegch }}</td>
                                <td>{{ h.category }}</td>
                                <!-- <td>{{ h.borBoloh }}</td> -->
                                <!-- <td>{{ h.hudAwch }}</td> -->
                                <td>{{ h.zarBoloh }}</td>
                                <td>{{ h.state }}</td>
                                <td><a href="/change-stateProd/{{h.id}}/1">Батлах</a></td>
                                <td><a href="/change-stateProd/{{h.id}}/2">Цуцлах</a></td>
                                <td><a href="/change-stateProd/{{h.id}}/3">Захиалах</a></td>
                                <td><form action="product" method="POST">{% csrf_token %}<input type="hidden" name="edit" value="{{h.id}}" /><input type="submit" value="засах" /></form></td>
                            </tr>            
                    {% endfor %}    
                    </table>
                <!-- <div>
                    {% if user.role_id == 1 %}
                        <a href="{% url 'product' %}">prod burtguuleh</a>
                        <input class="btn btn-lg btn-secondary btn-block" type="submit"  value='Нэвтрэх'></input>
                    {% elif user.role_id == 2 %}
                        <a href="{% url 'reg-user' %}">cus burtguuleh</a>
                    {% endif %}
                </div> -->
                
            </div>
            {% include "tableBottom.html" %}
        </div>
    </div>
</main>