<main>
  <style>
    .form-label{
      width: 200px;
    }
    .form-control{
      width: 425px;
    }

    .autocomplete {
  /*the container must be positioned relative:*/
  position: relative;
  display: inline-block;
}

.autocomplete-items {
  position: absolute;
  border: 1px solid #d4d4d4;
  border-bottom: none;
  border-top: none;
  z-index: 99;
  /*position the autocomplete items to be the same width as the container:*/
  top: 100%;
  left: 0;
  right: 0;
}
.autocomplete-items div {
  padding: 10px;
  cursor: pointer;
  background-color: #fff;
  border-bottom: 1px solid #d4d4d4;
}
.autocomplete-items div:hover {
  /*when hovering an item:*/
  background-color: #e9e9e9;
}
.autocomplete-active {
  /*when navigating through the items using the arrow keys:*/
  background-color: DodgerBlue !important;
  color: #ffffff;
}

  </style>
    <div class="container-fluid px-4">
        <h5 class="mt-4">Бараа шинээр бүртгүүлэх</h5>
        <ol class="breadcrumb mb-4">
        </ol>
       
        <div class="card mb-4">
            
            <div class="card-body">
                <div class="dataTable-top">
                    <div class="dataTable-dropdown">
                      {% if errmsg %}
                      <div id ="errmsg" class="alert alert-danger" role="alert">
                      {{errmsg}}
                      </div>
                      {% endif %} 
                        <form method='POST' id="reg_prod_form" autocomplete="off" >
                            {% csrf_token %}
                            <div class="mb-3">
                              <div class="autocomplete">
                                <label for="prodName" class="form-label">Бүтээгдэхүүний нэр</label>
                                <input type="text" class="form-control" id="prodName" name="prodName" placeholder="Бүтээгдэхүүний нэр" required  value="{{data.prodName}}"}/>
                              </div>
                              </div>
                              <div class="mb-3">
                                <div class="autocomplete">
                                <label for="prodName_en" class="form-label">Бүтээгдэхүүний нэр англи</label>
                                <input type="text" class="form-control" id="prodName_en" name="prodName_en" placeholder="Бүтээгдэхүүний нэр англи" required  value="{{data.prodName_en}}"/>
                              </div>
                              </div>
                              <div class="mb-3">
                                <label for="brand_id" class="form-label">Брэнд нэр </label>
                                <select name="brand_id" id="brand_id" style="width: 220px;" class="btn btn-secondary btn-sm dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                                    <option>-------------</option>
                                    {% for b in brand %}
                                    <option value={{b.id}} {% if data.brand_id|add:"0" == b.id|add:"0" %} selected {% endif %}>{{b.brandName}}</option>
                                    {% endfor %} 
                                </select>
                              </div>
                              <div class="mb-3">
                                <label for="prodType_id" class="form-label">Бүтээгдэхүүний төрөл</label>
                                <select name="prodType_id" id="prodType_id" style="width: 220px;" class="btn btn-secondary btn-sm dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                                    <option>-------------</option>
                                    {% for t in type %}
                                    <option value="{{t.id}}" {% if data.prodType_id|add:"0" == t.id|add:"0"  %} selected {% endif %}>{{t.typeName}}</option>
                                    {% endfor %} 
                                </select>
                              </div>
                              <div class="mb-3">
                                <label for="emHelber_id" class="form-label">Эмийн хэлбэр</label>
                                <select name="emHelber_id" id="emHelber_id" style="width: 220px;" class="btn btn-secondary btn-sm dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                                    <option>-------------</option>
                                    {% for eh in emHelber %}
                                    <option value="{{eh.id}}" {% if data.emHelber_id|add:"0" == eh.id|add:"0"  %} selected {% endif %}>{{eh.emHelberName}}</option>
                                    {% endfor %} 
                                </select>
                              </div>
                            






                              <div class="mb-3">
                                <style>
                                    ul, #myUL {
                                      list-style-type: none;
                                    }
                                    
                                    #myUL {
                                      margin: 0;
                                      padding: 0;
                                    }
                                    
                                    .caret {
                                      cursor: pointer;
                                      -webkit-user-select: none; /* Safari 3.1+ */
                                      -moz-user-select: none; /* Firefox 2+ */
                                      -ms-user-select: none; /* IE 10+ */
                                      user-select: none;
                                    }
                                    
                                    .caret::before {
                                      content: "\25B6";
                                      color: rgb(0, 0, 0);
                                      display: inline-block;
                                      margin-right: 6px;
                                    }
                                    
                                    .caret-down::before {
                                      -ms-transform: rotate(90deg); /* IE 9 */
                                      -webkit-transform: rotate(90deg); /* Safari */
                                      transform: rotate(90deg);  
                                    }
                                    
                                    .nested {
                                      display: none;
                                    }
                                    
                                    .active {
                                      display: block;
                                    }
                                    span.option {
                                      background-color: #b8b8b8;
                                    }
                                    </style>
                                <ul id="angilalTree">
                                    {% for c in cat %}
                                    {% if c.parent == None %}
                                    <li value="{{c.id}}" ><span class="caret" class="option">{{c.catName}}</span>
                                      <ul class="nested">
                                        {% for c1 in cat %}
                                        {% if c1.parent == c.id %}
                                        <li value="{{c1.id}}"><span class="caret">{{c1.catName}}</span>
                                            <ul class="nested">
                                                {% for c2 in cat %}
                                                {% if c2.parent == c1.id %}
                                                <li value="{{c2.id}}"><span class="caret">{{c2.catName}}</span>
                                                    <ul class="nested">
                                                        {% for c3 in cat %}
                                                        {% if c3.parent == c2.id %}
                                                        <li value="{{c3.id}}"><span class="caret">{{c3.catName}}</span>
                                                            <ul class="nested">
                                                                {% for c4 in cat %}
                                                                {% if c4.parent == c3.id %}
                                                                <li value="{{c4.id}}"><span class="caret">{{c4.catName}}</span>
                                                                    <ul class="nested">
                                                                        {% for c5 in cat %}
                                                                        {% if c5.parent == c4.id %}
                                                                        <li value="{{c3.id}}"><span class="caret">{{c5.catName}}</span>
                                                                         
                                                                        </li>  
                                                                        {% endif %}
                                                                        {% endfor %}
                                                                      </ul>
                                                                </li>  
                                                                {% endif %}
                                                                {% endfor %}
                                                              </ul>
                                                        </li>  
                                                        {% endif %}
                                                        {% endfor %}
                                                      </ul>
                                                </li>  
                                                {% endif %}
                                                {% endfor %}
                                              </ul>
                                        </li>  
                                        {% endif %}
                                        {% endfor %}
                                      </ul>
                                    </li>
                                    {% endif %}
                                    {% endfor %}
                                  </ul>
                              </div>
                              <!-- <div class="mb-3" style="visibility: hidden;"> -->
                              <div class="mb-3">
                                <label for="category_id" class="form-label">Бүтээгдэхүүний ангилал</label>
                                <select name="category_id" id="category_id" style="width: 220px;" class="form-select form-select-sm" aria-label=".form-select-sm example">
                                    <option>-------------</option>
                                    {% for c in cat %}
                                    <option value="{{c.id}}" {% if data.category_id|add:"0" == c.id|add:"0"  %} selected {% endif %}>{{c.catName}}</option>
                                    {% endfor %} 
                                </select>
                              </div>











                              <div class="mb-3">
                                <label for="borBoloh" class="form-label">Борлуулж болох эсэх {{data.borBoloh_id}}</label>
                                <input type="checkbox" id="borBoloh" class="form-check-input" name="borBoloh" {% if data.borBoloh %} checked {% endif %} onclick='borBolohClick(this);'/>
                              </div> 
                              <div class="mb-3">
                                <label for="hudAwch" class="form-label">Худалдан авч болох эсэх {{data.hudAwch_id}}</label>
                                <input type="checkbox" id="hudAwch" class="form-check-input" name="hudAwch" {% if data.hudAwch %} checked {% endif %} onclick='borBolohClick(this);'/>
                              </div> 
                              <div class="mb-3">
                                <label for="zarBoloh" class="form-label">Зарлагдаж болох эсэх {{data.zarBoloh_id}}</label>
                                <input type="checkbox" id="zarBoloh" class="form-check-input" name="zarBoloh" {% if data.zarBoloh %} checked {% endif %} onclick='borBolohClick(this);'/>
                              </div> 
                              <div class="mb-3">
                                <label for="pos" class="form-label">Посоор зарж болох эсэх {{data.pos_id}}</label>
                                <input type="checkbox" id="pos" class="form-check-input" name="pos" {% if data.pos %} checked {% endif %} onclick='borBolohClick(this);'/>
                              </div>  
                              <div class="mb-3" >                           
                                <label for="company_id" class="form-label" >Ашиглах компани</label> 
                                <div class="row g-3">
                                  <div class="col-auto">
                                        <select name="company_id" id="company_id" style="width: 220px;"  class="btn btn-secondary btn-sm dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                                          <option>-------------</option>
                                            {% if selected_company  %}
                                              {% for co in comp %}
                                                    {% if co.id|stringformat:"i" not in selected_company %}
                                                      <option value="{{co.id}}">{{co.comName}}</option>
                                                    {% endif %}  
                                              {% endfor %} 
                                            {% else %}
                                                {% for co in comp %}
                                                <option value="{{co.id}}" >{{co.comName}}</option>
                                                {% endfor %} 
                                            {% endif %}
                                            
                                        </select> </div> 
                                        <div class="col-auto d-grid gap-2">       
                                        <input type="button" value='>>' class="btn btn-sm btn-secondary" onclick="company_select()" /> 
                                        <input type="button" value='<<' class="btn btn-sm btn-secondary" onclick="company_deselect()"/> </div>
                                        <div class="col-auto">
                                        <select name="selected_company" id="selected_company" style="width: 250px;"  class="form-select" size="3" aria-label="size 3 select example" multiple>  
                                            {% for co in comp %}
                                              {% for sc in selected_company %}
                                                {% if co.id|add:"0" == sc|add:"0" %}
                                                <option value="{{co.id}}">{{co.comName}}</option>
                                                {% endif %}
                                              {% endfor %} 
                                            {% endfor %}                                  
                                          </select></div>
                                          <script>
                                          function company_select(){//console.log('company_select')
                                              s = document.getElementById('company_id')                                      
                                              text = s.options[s.selectedIndex].text
                                              value = s.value
                                              s.remove(s.selectedIndex); 

                                              s1 = document.getElementById('selected_company') 
                                              s1.options[s1.options.length] = new Option(text, value);

                                          }    
                                          function company_deselect(){//console.log('company_select')
                                              s = document.getElementById('selected_company')                                      
                                              text = s.options[s.selectedIndex].text
                                              value = s.value
                                              s.remove(s.selectedIndex); 
        
                                              s1 = document.getElementById('company_id') 
                                              s1.options[s1.options.length] = new Option(text, value);
        
                                          }
                                          </script>
                                       
                                </div>
                              </div>
                              <div class="mb-3">
                                <label for="hemNegj_id" class="form-label">Хэмжих нэгж</label>
                                <select name="hemNegj_id" id="hemNegj_id"  style="width: 220px;" class="btn btn-secondary btn-sm dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                                    <option>-------------</option>
                                    {% for hj in hemNegj %}
                                    <option value="{{hj.id}}" {% if data.hemNegj_id|add:"0"  == hj.id|add:"0"  %} selected {% endif %}>{{hj.hemNegjName  }}</option>
                                    {% endfor %} 
                                </select>
                              </div>
                              <div class="mb-3">
                                <label for="hudNegj_id" class="form-label">Худалдах нэгж</label>
                                <!-- <input type="number" class="form-control" id="hudNegj" name="hudNegj" placeholder="Худалдах нэгж" value="{{data.hudNegj}}"/> -->
                                <select name="hudNegj_id" id="hudNegj_id"  style="width: 220px;" class="btn btn-secondary btn-sm dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                                  <option>-------------</option>
                                  {% for hj in hemNegj %}
                                  <option value="{{hj.id}}" {% if data.hudNegj_id|add:"0"  == hj.id|add:"0"  %} selected {% endif %}>{{hj.hemNegjName  }}</option>
                                  {% endfor %} 
                              </select>
                              </div>
                              <div class="mb-3">
                                <label for="erNershil" class="form-label">Ерөнхий нэршил</label>
                                <input type="text" class="form-control" id="erNershil" name="erNershil" placeholder="Ерөнхий нэршил" value="{{data.erNershil}}"/>
                              </div>
                              <div class="mb-3">
                                <label for="zCode" class="form-label">Зураасан код</label>
                                <input type="number" class="form-control" id="zCode" name="zCode" placeholder="Зураасан код" required  value="{{data.zCode}}"/>
                              </div>
                              <div class="mb-3">
                                <label for="paiz_id" class="form-label">Пайз</label>
                                <select name="paiz_id" id="paiz_id"  style="width: 220px;" class="btn btn-secondary btn-sm dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                                    <option>-------------</option>
                                    {% for p in paiz %}
                                    <option value="{{p.id}}" {% if data.paiz_id|add:"0" == p.id|add:"0" %} selected {% endif %}>{{p.paizName}}</option>
                                    {% endfor %} 
                                </select>
                              </div>
                              <div class="mb-3">
                                <label for="uildwerlegch_id" class="form-label">Үйлдвэрлэгч</label>
                                <select name="uildwerlegch_id" id="uildwerlegch_id"  style="width: 220px;" class="btn btn-secondary btn-sm dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                                    <option>-------------</option>
                                    {% for ui in uildwerlegch %}
                                    <option value="{{ui.id}}" {% if data.uildwerlegch_id|add:"0" == ui.id|add:"0"  %} selected {% endif %}>{{ui.manName}}</option>
                                    {% endfor %} 
                                </select>
                              </div>
                              <div class="mb-3">
                                <label for="uNiiluulegch_id" class="form-label">Үндсэн нийлүүлэгч</label>
                                <select name="uNiiluulegch_id" id="uNiiluulegch_id" style="width: 220px;" class="btn btn-secondary btn-sm dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                                    <option>-------------</option>
                                    {% for ui in uNiiluulegch %}
                                    <option value="{{ui.id}}" {% if data.uNiiluulegch_id|add:"0" == ui.id|add:"0"  %} selected {% endif %}>{{ui.niiName}}</option>
                                    {% endfor %} 
                                </select>
                              </div>
                              <div class="mb-3">
                                <label for="price" class="form-label">Үнэ</label>
                                <input type="number" class="form-control" id="price" name="price" placeholder="Үнэ"  value="{{data.price}}"/>
                              </div>
                              
                              <div class="mb-3">
                                <label for="posCat_id" class="form-label">Посын ангилал</label>
                                <select name="posCat_id" id="posCat_id"  style="width: 220px;" class="btn btn-secondary btn-sm dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                                    <option>-------------</option>
                                    {% for pc in posCat %}
                                    <option value="{{pc.id}}" {% if data.posCat_id|add:"0" == pc.id|add:"0" %} selected {% endif %}>{{pc.posCatName}}</option>
                                    {% endfor %} 
                                </select>
                              </div>

                              <div class="mb-3">
                                <label for="hutlult_id" class="form-label">Хөтлөлт</label>
                                <select name="hutlult_id" id="hutlult_id"  style="width: 220px;" class="btn btn-secondary btn-sm dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                                    <option>-------------</option>
                                    {% for h in hutlult %}
                                    <option value="{{h.id}}" {% if data.posCat_id|add:"0" == h.id|add:"0" %} selected {% endif %}>{{h.hutlultName}}</option>
                                    {% endfor %} 
                                </select>
                              </div>
                                                            
                              <div class="mb-3" id="imgCont">{{upFile}}::
                                <label for="thumbimage" class="form-label">Зураг:</label>                                
                                <input type="button" class="form-control form-control-sm" value="Зураг оруулах" onclick="bt1_click()" style="background-color: #6c757d; color: white;">       
                                <input type="file"  id="thumbimage" name="thumbimage" placeholder="Зураг" required value="" multiple />                          
                              </div>
                              
                              <!-- <img src="{{upFile}}"/> -->
                             
                            <!-- {{edit}} -->
                            {% if edit %} <input type='hidden' name='edit' value='{{edit}}'/> 
                            <input id="had" type='submit' class="btn btn-primary"  value='Хадгалах' onclick="selectAll();" />
                            <!-- <button type="button" class="btn btn-primary" id="had" >Хадгалах</button> -->
                            {% else %}
                            <input id="had" type='submit' class="btn btn-primary"  value='Хадгалах' onclick="selectAll();" disabled/>
                            <!-- <input id="had" type='submit' class="btn btn-primary"  value='Хадгалах' onclick="selectAll();" /> -->
                            {% endif %}


                            <script>
                              window.addEventListener('load', (event) => {console.log('page is fully loaded');

                                const form = document.getElementById('reg_prod_form');
                                form.addEventListener("change", () => {console.log('onchange')
                                    document.getElementById('had').disabled = !form.checkValidity()
                                });

                                


                                document.getElementById("thumbimage").onchange = function () { console.log('thumbimage-onchange',this.files.length)
                                parent=this.parentElement;console.log( parent.childNodes)
                                for( let i =0; parent.childNodes[6]; i++){ 
                                  parent.removeChild(parent.childNodes[6])      
                                }
                                
                                for( let i =0; i<this.files.length; i++){ 
                                    const img = document.createElement("img");
                                    img.src = URL.createObjectURL(this.files[i]);
                                    img.style.height=150+"px"
                                    parent.appendChild(img)     

                                }
                              };

                              });



                              function bt1_click(){
                                  console.log('btn1')
                                  b = document.getElementById('thumbimage').click();
                              }

                              

                                
                                let angilalTree = document.getElementById("angilalTree")
                                let spans = angilalTree.getElementsByTagName("span"); console.log('spans',spans)
                                var toggler = document.getElementsByClassName("caret");
                                for (let ti = 0; ti < toggler.length; ti++) {
                                  toggler[ti].addEventListener("click", function() {console.log('this', this.parentElement.value)
                                    this.parentElement.querySelector(".nested").classList.toggle("active");
                                    for (var i = 0; i < spans.length; i++) {
                                      spans[i].classList.remove('option')
                                    }
                                    this.classList.add("option");
                                    this.classList.toggle("caret-down");

                                    let anglial = document.getElementById("category_id");
                                    anglial.value = this.parentElement.value
                                });
                                }


                                                                
                                    
                                
                                function borBolohClick(cb) {
                                  console.log("Clicked, new value = " + cb.checked);
                                }

                                function selectAll() 
                                  { 
                                      selectBox = document.getElementById("selected_company"); console.log(selectBox)

                                      for (var i = 0; i < selectBox.options.length; i++) 
                                      { console.log(selectBox.options[i])
                                          selectBox.options[i].selected = true; 
                                      } 
                                  }
                            </script>
                        </form>
                </div>
                <div>
                        
                </div>
                
            </div>
           
        </div>
    </div>
</main>

<script>
  autocomplete(document.getElementById("prodName"), 'mn');
  autocomplete(document.getElementById("prodName_en"), 'eng');
  function autocomplete(inp, lang) {
    
/*the autocomplete function takes two arguments,
the text field element and an array of possible autocompleted values:*/
var currentFocus;
/*execute a function when someone writes in the text field:*/
inp.addEventListener("input", function(e) {
var a, b, i, val = this.value;
/*close any already open lists of autocompleted values*/
closeAllLists();
if (!val) { return false;}
if (val.length === 1) { 
this.value = this.value.toUpperCase() ;
val = this.value
}  
else{
this.value = this.value.charAt(0).toUpperCase() + this.value.substring(1).toLowerCase()
val = this.value
}
currentFocus = -1;
/*create a DIV element that will contain the items (values):*/
a = document.createElement("DIV");
a.setAttribute("id", this.id + "autocomplete-list");
a.setAttribute("class", "autocomplete-items");
/*append the DIV element as a child of the autocomplete container:*/
this.parentNode.appendChild(a);


arr = []
var oReq = new XMLHttpRequest();
oReq.open("GET", "/api/product-list/" + val + "/" + lang);
oReq.responseType = 'json'
oReq.addEventListener("load", ()=> {
// console.log('arrrrrrrrrrrrrrrrrrrrrrrrr', oReq.response);
arr = oReq.response['data'];
// console.log( 'arr', arr)
/*for each item in the array...*/
for (i = 0; i < arr.length; i++) { console.log('i=',i)

/*check if the item starts with the same letters as the text field value:*/
if (arr[i].substr(0, val.length).toUpperCase() == val.toUpperCase()) {
/*create a DIV element for each matching element:*/
b = document.createElement("DIV");
/*make the matching letters bold:*/
b.innerHTML = "<strong>" + arr[i].substr(0, val.length) + "</strong>";
b.innerHTML += arr[i].substr(val.length);
/*insert a input field that will hold the current array item's value:*/
b.innerHTML += "<input type='hidden' value='" + arr[i] + "'>";
/*execute a function when someone clicks on the item value (DIV element):*/
b.addEventListener("click", function(e) {
/*insert the value for the autocomplete text field:*/
inp.value = this.getElementsByTagName("input")[0].value;
/*close the list of autocompleted values,
(or any other open lists of autocompleted values:*/
closeAllLists();
});
a.appendChild(b);
}
}
});      
oReq.send();


});
/*execute a function presses a key on the keyboard:*/
inp.addEventListener("keydown", function(e) {
var x = document.getElementById(this.id + "autocomplete-list");
if (x) x = x.getElementsByTagName("div");
if (e.keyCode == 40) {
currentFocus++;
addActive(x);
} else if (e.keyCode == 38) { 
currentFocus--;
addActive(x);
} else if (e.keyCode == 13) {
e.preventDefault();
if (currentFocus > -1) {
if (x) x[currentFocus].click();
}
}
});
function addActive(x) {
/*a function to classify an item as "active":*/
if (!x) return false;
/*start by removing the "active" class on all items:*/
removeActive(x);
if (currentFocus >= x.length) currentFocus = 0;
if (currentFocus < 0) currentFocus = (x.length - 1);
/*add class "autocomplete-active":*/
x[currentFocus].classList.add("autocomplete-active");
}
function removeActive(x) {
/*a function to remove the "active" class from all autocomplete items:*/
for (var i = 0; i < x.length; i++) {
x[i].classList.remove("autocomplete-active");
}
}
function closeAllLists(elmnt) {
/*close all autocomplete lists in the document,
except the one passed as an argument:*/
var x = document.getElementsByClassName("autocomplete-items");
for (var i = 0; i < x.length; i++) {
if (elmnt != x[i] && elmnt != inp) {
x[i].parentNode.removeChild(x[i]);
}
}
}
/*execute a function when someone clicks in the document:*/
document.addEventListener("click", function (e) {
closeAllLists(e.target);
});
}
</script>
