<style>
    .disabled {
    pointer-events:none; 
    opacity:0.6;        
    }
</style>
<div class="dataTable-bottom">
    <div class="dataTable-info">нийт бичлэг : {{count}} хуудсын тоо : {{page_count}}     эхлэх дугаар:   дуусах дугаар :</div>
    <nav class="dataTable-pagination">
        <ul class="dataTable-pagination-list">
            <li {% if has_previous == False %}  class="pager disabled" {% else %} class="pager" {% endif %}  ><a href="?size={{size}}&page={{ page_num|add:-1 }}" data-page="5" >‹</a></li>
            {% for _ in page_range %}
                <li {% if page_num == forloop.counter %}  class="active" {% endif %}><a href="?size={{size}}&page={{ forloop.counter }}" data-page="{{ forloop.counter }}">{{ forloop.counter }}</a></li>
            {% endfor %}
            <li {% if has_next == False %}  class="pager disabled" {% else %} class="pager" {% endif %}><a href="?size={{size}}&page={{ page_num|add:1 }}" data-page="6">›</a></li>
        </ul>
    </nav>
</div>