<div class="dataTable-bottom">
    <div class="dataTable-info">Showing 51 to 57 of 57 entries</div>
    <nav class="dataTable-pagination">
        <ul class="dataTable-pagination-list">
            <li class="pager"><a href="#" data-page="5">‹</a></li>
            <li class=""><a href="#" data-page="1">1</a></li>
            <li class=""><a href="#" data-page="2">2</a></li>
            <li class=""><a href="#" data-page="3">3</a></li>
            <li class=""><a href="#" data-page="4">4</a></li>
            <li class=""><a href="#" data-page="5">5</a></li>
            <li class="active"><a href="#" data-page="6">6</a></li>
            <li class="pager"><a href="#" data-page="6">›</a></li>
        </ul>
    </nav>
</div>